# global
.DS_Store
.idea/
.vscode/

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# backend
backend/target/
backend/mvnw
backend/mvnw.cmd
backend/.mvn/
backend/help.md